* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
  }
    
  
  .navbar {
    color: white;
    background-color: blue;
  }

  .navitem {
      list-style-type: none;
      color: white;
      background-color: blue;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: blue;
    color: white;
    text-align: center;
    overflow: hidden;
  } 

  .welcome-text {
    font-size: 3em;
    color: white;
    text-align: center center;
  }

  .background-photo {
    background-image: url("");
    background-size: cover;
    height: 100vh;
    background-position: center center;
    position: relative;
  }

  .photo-grid-container {
    padding: 10px;
    display: grid;
    grid-template: auto auto auto auto auto / 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    display: flex;
    justify-content: center;
  }
  
  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center; 
  }

  .image {
    border: 1px solid lightgreen;
    width: 300px;
    height: 300px;
    object-fit: cover;
  }
  .image img {
    width: 300px;
    height: 300px;
    object-fit: cover;
  }